# Tuple operations

In [1]:
t=[1,2,3]

In [2]:
print(type(t))

<class 'list'>

In [3]:
l=list(t)
print(type(l))

<class 'list'>

In [4]:
print(type(t))

<class 'list'>

In [5]:
l[1]=20

In [6]:
print(l)

[1, 20, 3]

In [7]:
print(t)

[1, 2, 3]

In [8]:
t=tuple(l)
print(t)

(1, 20, 3)

In [9]:
print(t.count(3))

1

In [10]:
print(t.index(20))

1

In [11]:
tup1=(12,34.56)
tup2=("abc","xyz")
tup3=tup1+tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

In [12]:
t1,t2=(123,'xyz'),(456)
print(len(t1))

2

In [14]:
print(len(t2))

2

In [15]:
print(t1[0])

123